<div class="logo" style="background-image: url(../../../content/imgs/menu/market.jpg);
background-size: 100%;
background-position: center center;height: 103px;position: relative;">
    <a href="https://www.creative-tim.com" class="simple-text" style="    position: absolute;
    bottom: 0px;">
        <div style="color: rgba(0, 0, 0, 0.99);
        background-color: rgba(255, 255, 255, 0.74);
        padding: 7px;
        font-size: 15px;
        font-weight: 700;
        font-family: sans-serif;
        border-radius: 4px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 240px;
        margin-left: 8px;">Central
            de Abastos</div>
    </a>
</div>
<div class="sidebar-wrapper" style="background-color: #ffffff;">
    <div *ngIf="isMobileMenu()" style="display:none !important">
        <!-- <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form> -->
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                    <i class="material-icons">dashboard</i>
                    <p>
                        <span class="d-lg-none d-md-block">Stats</span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                    <i class="material-icons">person</i>
                    <p>
                        <span class="d-lg-none d-md-block">Account</span>
                    </p>
                </a>
            </li>
        </ul>
    </div>

    <div class="dropdown" *ngFor="let menuItem of menu">
        <button class="btn btn-default " id="{{menuItem.id}}" data-toggle="dropdown" 
        [ngClass]="{'dropdown-toggle': menuItem.children && menuItem.children.length > 0}"
            style="background-color: #f07c1c00;
            width: 100%;
            margin: 0px;
            border-radius: 0px;
            color: #000;
            text-align: initial;
            box-shadow: none;
            border-bottom: 1px solid #dedede;"
            (click)="goTo(menuItem)"
            >
            <img src="{{menuItem.iconName}}" alt="" style="display: inline-block;
        width: 10%;
        vertical-align: sub;">
            <div style="display: inline-block;
            font-size: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 88%;
            overflow: hidden;">{{menuItem.displayName}}</div>
        </button>
        <ul  class="dropdown-menu" role="menu" *ngIf="menuItem.children && menuItem.children.length > 0"
                [attr.aria-labelledby]="menuItem.id" style="width: 100%;">
            <li role="presentation" *ngFor="let subMenu of menuItem.children" (click)="goTo(subMenu)"><a role="menuitem" tabindex="-1">{{subMenu.displayName}}</a></li>
        </ul>
    </div>

</div>