<div>
    <h2 id="page-heading">
        <span >Imágenes del producto</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-producto-imagen" [routerLink]="['/main/entities/producto-imagen/producto-proveedor', productoProveedorId ,'new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="abastosApp.productoImagen.home.createLabel">
            Create a new Producto Imagen
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="productoImagens?.length === 0">
        <span jhiTranslate="abastosApp.productoImagen.home.notFound">No productoImagens found</span>
    </div>
    <div class="table-responsive" *ngIf="productoImagens?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span >Producto</span></th>
            <th><span >Imagen</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productoImagen of productoImagens ;trackBy: trackId">
                <td><a [routerLink]="['/main/entities/producto-imagen/producto-proveedor', productoProveedorId, productoImagen.id, 'view' ]">{{productoImagen.id}}</a></td>
                <td>{{productoImagen.productoProveedor?.producto?.nombre}}</td>
                <td>
                    <div class="container-card" *ngIf="productoImagen.adjuntoId">
                        <img style="max-height: 55px;" src="{{env.getImagenIndividual}}{{productoImagen.adjuntoId}}" />
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/main/entities/producto-imagen/producto-proveedor', productoProveedorId , productoImagen.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/main/entities/producto-imagen/producto-proveedor', productoProveedorId , productoImagen.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/main/entities/producto-imagen/producto-proveedor', productoProveedorId , productoImagen.id, 'delete']"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
