<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productoImagen">
            <h2><span jhiTranslate="abastosApp.productoImagen.detail.title">Producto Imagen</span> {{productoImagen.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="abastosApp.productoImagen.fechaAlta">Fecha Alta</span></dt>
                <dd>
                    <span>{{productoImagen.fechaAlta}}</span>
                </dd>
                <dt><span jhiTranslate="abastosApp.productoImagen.usuarioAlta">Usuario Alta</span></dt>
                <dd>
                    {{productoImagen.usuarioAltaId}}
                </dd>
                <dt><span jhiTranslate="abastosApp.productoImagen.producto">Producto</span></dt>
                <dd>
                    <div *ngIf="productoImagen.productoId">
                        <a [routerLink]="['/main/entities/producto-imagen/producto-proveedor', productoProveedorId, productoImagen.id, 'view']">{{productoImagen.productoId}}</a>
                    </div>
                </dd>
                <dt><span>Imagen</span></dt>
                <dd>
                    <div class="container-card" *ngIf="productoImagen.adjuntoId">
                        <img style="width: 55px;" src="{{env.getImagenIndividual}}{{productoImagen.adjuntoId}}" />
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/main/entities/producto-imagen/producto-proveedor', productoProveedorId, productoImagen.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
