<div>
    <h2 id="page-heading">
        <span>Promociones</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-promocion"
            [routerLink]="['/main/entities/promocion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
                Crear nueva promoción
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="alert alert-warning" *ngIf="promociones?.length === 0">
        <span>No se encontraron promociones</span>
    </div>
    <div class="table-responsive" *ngIf="promociones?.length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span >ID</span></th>
                    <th><span >Titulo</span></th>
                    <th><span >Descripción</span></th>
                    <th><span >Link</span></th>
                    <th><span >Imagen</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let promocion of promociones ;trackBy: trackId">
                    <td><a [routerLink]="['/main/entities/promocion', promocion.id, 'view' ]">{{promocion.id}}</a></td>
                    <td>{{promocion.titulo}}</td>
                    <td>{{promocion.descripcion}}</td>
                    <td>{{promocion.link}}</td>
                    <td>
                        <div class="container-card" *ngIf="promocion.adjuntoId">
                            <img style="width: 55px;" src="{{env.getImagenIndividual}}{{promocion.adjuntoId}}" />
                        </div>
                    </td>

                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/main/entities/promocion', promocion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/main/entities/promocion', promocion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit" [routerLink]="['/main/entities/promocion', promocion.id, 'delete']"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>