<p-toast [style]="{marginTop: '80px'}"></p-toast>

<div class="row justify-content-center">
    <div class="col-12">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <p-panel header="Reporte de costos">
                <div class="ui-fluid p-formgrid p-grid">

                    <div class="p-field p-col-12">
                        <label for="proveedor">Proveedor</label>
                        <p-dropdown id="proveedor" inputId="proveedorId" [options]="proveedores" placeholder="Seleccione proveedor..."
                            optionLabel="nombre" formControlName="proveedorId">
                        </p-dropdown>
                        <p-message severity="error" text="Proveedor es requerido" *ngIf="!editForm.controls['proveedorId'].valid&&editForm.controls['proveedorId'].dirty"></p-message>
                    </div>

                    <div class="p-field p-col-12 p-md-6">
                        <label for="fechaInicial">Fecha inicial</label>
                        <p-calendar id="fechaInicial" dateFormat="dd/mm/yy" showButtonBar="true" placeholder="Fecha inicial"
                            formControlName="fechaInicial"></p-calendar>
                    </div>

                    <div class="p-field p-col-12 p-md-6">
                        <label for="fechaFinal">Fecha final</label>
                        <p-calendar id="fechaFinal" dateFormat="dd/mm/yy" showButtonBar="true" placeholder="Fecha final"
                            formControlName="fechaFinal"></p-calendar>
                    </div>

                </div>
                <p-footer>
                    <button pButton type="submit" icon="pi pi-check" label="Generar reporte" [disabled]="!editForm.valid"
                        class="ui-button-secondary">
                    </button>
                    <button *ngIf="false" type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button *ngIf="false" type="submit" id="save-entity" [disabled]="editForm.invalid" class="btn btn-primary"
                        (click)="cargarReporte()">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Generar</span>
                    </button>

                </p-footer>
            </p-panel>

        </form>

    </div>
    <div class="col-12" *ngIf="dataReponse && !dataReponse.error">
        <p-table [value]="dataReponse" [paginator]="true" [rows]="25">
            <ng-template pTemplate="header">
                <tr>
                    <th>Pedido</th>
                    <th>Estatus</th>
                    <th>Cliente</th>
                    <th>Proveedor</th>
                    <th>Venta</th>
                    <th>Costo Transporte</th>
                    <th>Com. Venta</th>
                    <th>Comisión</th>
                    <th>Depositar</th>
                    <th>Depositado</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-persona>
                <tr>
                    <td>{{persona.folio}}</td>
                    <td>{{persona.estatus}}</td>
                    <td>{{persona.first_name}} {{persona.last_name}}</td>
                    <td>{{persona.proveedor}}</td>
                    <td>{{persona.total}}</td>
                    <td>{{persona.comision_transportista}}</td>
                    <td>{{persona.porcentaje_comision_proveedor}}</td>
                    <td>{{persona.comision_proveedor}}</td>
                    <td>{{persona.total_depositar_proveedor}}</td>
                    <td>{{persona.depositado_proveedor}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>