<div>
  <mat-list *ngIf="!fromPop">
    <mat-list-item *ngFor="let p of detalle" style="    margin-bottom: 55px;">
      <div class="datos-tarjetas" (click)="verProductos(p)">
        <div class="name">{{p.proveedor?.nombre}}</div>
        <div class="number">{{p.total | currency}}</div>
        <div class="number">Costo de envío: <strong>{{p.comisionTransportista | currency}}</strong></div>
        <div class="number">Subtotal: <strong>{{p.total + p.comisionTransportista | currency}}</strong></div>
      </div>
      <div style="width:59%;display:inline-block;text-align: -webkit-right;">
        <button class="botoni" (click)="terminarServicio(p)">
          <i class="material-icons">close</i>
          Terminar pedido</button>
        <button class="botoni" (click)="calificar(p)" *ngIf="!p.calificacionServicio && p.estatusId == 15">
          <i class="material-icons">create</i>
          Calificar pedido</button>

        <button class="botoni" (click)="verChatProveedor(p)" color="primary" style="background-color: #03A9F4;border: 1px solid #077baf;">
          <i class="material-icons">message</i>
          Chat proveedor
        </button>

        <button class="botoni" (click)="verChatTransportista(p)" color="danger" style="background-color: #FF5722;
        border: 1px solid #9c2906;">
          <i class="material-icons">message</i>
          Chat transportista
        </button>
      </div>
    </mat-list-item>
  </mat-list>



</div>