.botoni {
  padding: 10px;
  background-color: #f07c1c;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #d26a15;
  width: 25%;
  display: inline-block;
  font-size: 14px;
}

.material-icons {
  font-size: 17px;
}

.separador {
  border-bottom: 1px solid #dedede;
  padding-bottom: 8px;
  .proveedor {
    width: 75%;
    display: inline-block;
    .nombre {
      display: inline-block;
      font-size: 15px;
      width: 49%;
    }
    .precio {
      display: inline-block;
      font-size: 15px;
      width: 35%;
      font-weight: 600;
    }

    .costo-envio {
      display: inline-block;
      font-size: 15px;
      width: 49%;
    }
    .precio-envio {
      display: inline-block;
      font-size: 15px;
      width: 35%;
      font-weight: 600;
    }

    .costo-subtotal {
      display: inline-block;
      font-size: 15px;
      width: 49%;
    }
    .precio-subtotal {
      display: inline-block;
      font-size: 15px;
      width: 35%;
      font-weight: 600;
    }
  }
}

.datos-tarjetas {
  width: 40%;
  display: inline-block;
}
