<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chatPrivate">
            <h2><span jhiTranslate="abastosApp.chatPrivate.detail.title">Chat Private</span> {{chatPrivate.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="abastosApp.chatPrivate.message">Message</span></dt>
                <dd>
                    <span>{{chatPrivate.message}}</span>
                </dd>
                <dt><span jhiTranslate="abastosApp.chatPrivate.user">User</span></dt>
                <dd>
                    <span>{{chatPrivate.user}}</span>
                </dd>
                <dt><span jhiTranslate="abastosApp.chatPrivate.fecha">Fecha</span></dt>
                <dd>
                    <span>{{chatPrivate.fecha}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chat-private', chatPrivate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
