<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="categoria">
            <h2><span jhiTranslate="abastosApp.categoria.detail.title">Categoria</span> {{categoria.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="abastosApp.categoria.nombre">Nombre</span></dt>
                <dd>
                    <span>{{categoria.nombre}}</span>
                </dd>
                <dt><span >Descripción</span></dt>
                <dd>
                    <span>{{categoria.descripcion}}</span>
                </dd>
                <dt><span >Sección</span></dt>
                <dd>
                    <span>{{categoria.seccion.nombre}}</span>
                </dd>
                <dt><span>Imagen</span></dt>
                <dd>
                    <div class="container-card" *ngIf="categoria.adjuntoId">
                        <img style="width: 55px;" src="{{env.getImagenIndividual}}{{categoria.adjuntoId}}" />
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/main/entities/categoria', categoria.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
