.spinner-carrito {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  padding: 9px;
  ion-spinner {
    position: relative;
    display: inline-block;
    width: 128px !important;
    height: 28px;
    margin-top: 11%;
  }
  ion-spinner > svg {
    //color: map-get($colors, primary);
  }
  .spinner-md-crescent circle {
    //stroke: map-get($colors, primary);
  }
  ion-spinner svg {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: aqua;
    fill: beige;
    //stroke: map-get($colors, primary);
  }
  .spinner-ios line,
  .spinner-ios-small line {
    //stroke: map-get($colors, primary);
  }
}

.titulo-wrapper {
  width: 100%;
  .seccion {
    width: 46%;
    display: inline-block;
    text-align: left;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 500;
    color: #3b64c0;
    margin-left: 3%;
  }
  .ver-todos {
    width: 49%;
    display: inline-block;
    text-align: end;
    font-size: 11px;
    font-weight: 300;
  }
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .promociones {
    width: 77%;
    display: inline-block;
    margin: 4px;
    box-shadow: 0px 1px 3px #d2d1d1;
    border-radius: 14px;

    background-size: cover;
    background-repeat: no-repeat !important;
    background-position: top;
    flex: 0 0 auto;

    .contenedor-imagen {
      display: inline-block;
      width: 41%;
      img {
        width: 100%;
      }
    }
    .info {
      display: inline-block;
      width: 57%;
      /* display: flex; */
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 14px;
      vertical-align: top;
      text-align: -webkit-auto;
      .titulo {
        font-size: 15px;
        font-weight: 500;
        color: #3c3f42;
        margin: 0px;
        margin-top: 10px;
      }
      .subtitulo {
        font-size: 13px;
        margin: 0px;
        margin-bottom: 10px;
        text-shadow: 1px 0px 1px #fff;
      }
    }
  }
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  //margin-top: 25px;

  .card {
    display: inline-block;
    position: relative;
    padding: 6px;
    box-shadow: 0px 1px 3px #bdbdbd;
    margin: 10px;
    border-radius: 6px;
    .tacha {
      width: 100%;
      text-align: left;
      display: flex;
      justify-content: flex-end;
      /* position: absolute;
            height: 33px;
            z-index: 99; */
      .mini-tacha {
        position: absolute;
        right: 1px;
        top: 4px;
        font-size: 1.5em;
        //background-color: rgba(1, 1, 1, 0.4);
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        color: #fff;
        ion-icon {
          margin-top: -1px;
          //margin-left: 4.8px;
          font-size: 1.5em;
        }
      }
    }
    .container-card {
      width: 100%;
      height: 110px;
      //border: 1px solid #d8d8d8;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      img {
        height: 110px;
        //width: 100%;
      }
    }
    .container-text {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 109px;
    }
    .description {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 109px;
      margin-bottom: 15px;
    }

    .precio {
      font-size: 11px;
    }

    .contenedor-carrito {
      width: 100%;
      margin-top: 6px;
      .menos {
        display: inline-block;
        width: 33%;
        text-align: center;
        div {
          width: 50%;
          margin: auto;
          border: 1px solid #3b64bf;
          border-radius: 16px;
          color: #3b64bf;
        }
      }
      .cantidad {
        display: inline-block;
        width: 33%;
        text-align: center;
        div {
          color: #3b64bf;
        }
      }
      .mas {
        display: inline-block;
        width: 33%;
        text-align: center;
        div {
          width: 50%;
          margin: auto;
          border: 1px solid #3b64bf;
          border-radius: 16px;
          color: #3b64bf;
        }
      }
    }
  }

  .buttons {
    display: inline-block;
    position: relative;
    width: 49%;
    button {
      padding: 9px;
      padding-left: 18px;
      padding-right: 18px;
      margin: 3px;
      font-size: 16px;
      background-color: #3b64c0;
      color: #fff;
      border-radius: 10px;
      width: 100%;
      img {
        width: 18px;
        vertical-align: text-bottom;
      }
    }
  }

  .sin-fotos {
    display: inline-block;
    padding-left: 11px;
    padding-right: 11px;
    //margin-top: 5%;
    text-align: center;
    vertical-align: top;
    div {
      padding-left: 5px;
      padding-right: 5px;
      border: 1px solid #d8d8d8;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90%;
      padding-top: 50px;
      padding-bottom: 50px;
      img {
        width: 17px;
        display: inline-block;
        margin-right: 2%;
      }
      span {
        display: inline-block;
        font-size: 10px;
      }
    }
  }
}
@media all and (min-width: 0px) and (max-width: 385px) {
  .scrolling-wrapper {
    .card {
      width: 46%;
    }
  }
}

@media all and (min-width: 386px) and (max-width: 490px) {
  .scrolling-wrapper {
    .card {
      width: 35%;
    }
  }
}

@media all and (min-width: 491px) and (max-width: 550px) {
  .scrolling-wrapper {
    .card {
      width: 30%;
    }
  }
}

@media all and (min-width: 551px) and (max-width: 610px) {
  .scrolling-wrapper {
    .card {
      width: 25%;
    }
  }
}

@media all and (min-width: 611px) and (max-width: 951px) {
  .scrolling-wrapper {
    .card {
      width: 20%;
    }
  }
}

@media all and (min-width: 952px) and (max-width: 9999px) {
  .scrolling-wrapper {
    .card {
      width: 13%;
    }
  }
}

.ordenamiento {
  color: #fff;
  background-color: #3b64c1;
  padding: 5px;
  border-radius: 4px;
  .texto-ordena {
    display: inline-block;
    width: 63%;
    font-size: 17px;
    vertical-align: text-bottom;
  }
  .botones {
    display: inline-block;
    width: 17%;
    button {
      width: 100% !important;
      color: white !important;
      border-color: #ffffff !important;
      padding: 7px;
      margin: 0px;
      height: auto;
      background-color: #ab5814;
    }
  }
}
