
  <div class="spinner-carrito" *ngIf="articulos == null">
    <!-- <ion-spinner></ion-spinner> -->
  </div>

  <div *ngIf="articulos && articulos?.length>0" class="ordenamiento" style="background-color: #f07c1c;">
    <div class="texto-ordena">
      Ordenar por precio
    </div>
    <div class="botones">
        <button  style="width: 48%;" (click)="up()"
        [ngStyle]="{'color': genericService.getColorHex(), 'border-color': genericService.getColorHex()}">
        <i class="material-icons">trending_up</i>
        </button>
    </div>
    <div class="botones">
        <button  style="width: 48%;" (click)="down()"
        [ngStyle]="{'color': genericService.getColorHex(), 'border-color': genericService.getColorHex()}">
        <i class="material-icons">trending_down</i>
        </button>
    </div>
  </div>

  <div *ngFor="let articulo of articulos">
    <div class="titulo-wrapper">
      <div class="seccion" [ngStyle]="{'color':color}">
        {{articulo.tipoArticulo.nombre}}
      </div>

      <div class="ver-todos" (click)="verTodos(articulo)">
        Ver todos
      </div>
    </div>
    <div class="scrolling-wrapper" *ngIf="articulo.productos">
      <div id="card-{{i}}" class="card animated lightSpeedIn" *ngFor="let p of articulo.productos; let i = index"
        (click)="viewDetail(p)">
        <div class="container-card">

          <img src="{{env.getImagenIndividual}}{{p.producto.adjuntoId}}" />
        </div>
        <div class="container-text">{{p.producto.nombre}}</div>
        <div class="description">{{p.producto.descripcion}}</div>
        <div class="precio">{{p.precio | currency:'MXN'}}</div>

        <!-- <div class="contenedor-carrito" [ngStyle]="{'text-align': !p.cantidad || p.cantidad <= 0 ? 'end' : ''}">
                      <div class="menos" *ngIf="p.cantidad > 0" (click)="decrementar(p)">
                        <div>-</div>
                      </div>
                      <div class="cantidad" *ngIf="p.cantidad > 0">
                        <div>{{p.cantidad}}</div>
                      </div>
                      <div class="mas" (click)="incrementa(p)">
                        <div>+</div>
                      </div>
                    </div> -->
      </div>
    </div>
  </div>