<div>
    <h2 id="page-heading">
        <span jhiTranslate="abastosApp.transportista.home.title">Transportistas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transportista" [routerLink]="['/transportista/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="abastosApp.transportista.home.createLabel">
            Create a new Transportista
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="transportistas?.length === 0">
        <span jhiTranslate="abastosApp.transportista.home.notFound">No transportistas found</span>
    </div>
    <div class="table-responsive" *ngIf="transportistas?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="abastosApp.transportista.nombre">Nombre</span></th>
            <th><span jhiTranslate="abastosApp.transportista.fechaAlta">Fecha Alta</span></th>
            <th><span jhiTranslate="abastosApp.transportista.fechaModificacion">Fecha Modificacion</span></th>
            <th><span jhiTranslate="abastosApp.transportista.usuarioAlta">Usuario Alta</span></th>
            <th><span jhiTranslate="abastosApp.transportista.usuarioModificacion">Usuario Modificacion</span></th>
            <th><span jhiTranslate="abastosApp.transportista.empresa">Empresa</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transportista of transportistas ;trackBy: trackId">
                <td><a [routerLink]="['/transportista', transportista.id, 'view' ]">{{transportista.id}}</a></td>
                <td>{{transportista.nombre}}</td>
                <td>{{transportista.fechaAlta | date:'medium'}}</td>
                <td>{{transportista.fechaModificacion | date:'medium'}}</td>
                <td>
                    {{transportista.usuarioAltaId}}
                </td>
                <td>
                    {{transportista.usuarioModificacionId}}
                </td>
                <td>
                    <div *ngIf="transportista.empresaId">
                        <a [routerLink]="['/empresa', transportista.empresaId , 'view' ]" >{{transportista.empresaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/transportista', transportista.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transportista', transportista.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transportista', { outlets: { popup: transportista.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
