<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transportista">
            <h2><span jhiTranslate="abastosApp.transportista.detail.title">Transportista</span> {{transportista.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="abastosApp.transportista.nombre">Nombre</span></dt>
                <dd>
                    <span>{{transportista.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="abastosApp.transportista.fechaAlta">Fecha Alta</span></dt>
                <dd>
                    <span>{{transportista.fechaAlta}}</span>
                </dd>
                <dt><span jhiTranslate="abastosApp.transportista.fechaModificacion">Fecha Modificacion</span></dt>
                <dd>
                    <span>{{transportista.fechaModificacion}}</span>
                </dd>
                <dt><span jhiTranslate="abastosApp.transportista.usuarioAlta">Usuario Alta</span></dt>
                <dd>
                    {{transportista.usuarioAltaId}}
                </dd>
                <dt><span jhiTranslate="abastosApp.transportista.usuarioModificacion">Usuario Modificacion</span></dt>
                <dd>
                    {{transportista.usuarioModificacionId}}
                </dd>
                <dt><span jhiTranslate="abastosApp.transportista.empresa">Empresa</span></dt>
                <dd>
                    <div *ngIf="transportista.empresaId">
                        <a [routerLink]="['/empresa', transportista.empresaId, 'view']">{{transportista.empresaId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transportista', transportista.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
