<div *ngIf="isVisible" class="modal" tabindex="-1" role="dialog" 
      [ngClass]="{'fade show' : isVisible == true}" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Nuevo Reclamo</h5>
            <button type="button" class="close" (click)= "close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Estimado Usuario de Conctact Center, hay una nueva reclamación
            </p>
              <div class="container">
                  <div class="row">
                      <div class="col-6 font-weight-bold">
                         Nombre Cliente
                      </div>   
                      <div class="col-6">
                          {{claim.usuario.firstName}} {{claim.usuario.lastName}}
                      </div> 
                  </div>
                  <div class="row">
                      <div class="col-6 font-weight-bold">
                          Folio Pedido
                      </div>   
                      <div class="col-6">
                          {{claim.pedidoProveedor.folio}}
                      </div> 
                  </div>
              </div>
              <!-- <div class="row text-center">
                  <img class="img-evidence" [src]="claim.evidence">
              </div> -->
          </div>
          <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
               <button type="button" class="btn btn-primary">Ver quejas</button>
          </div>
        </div>
      </div>
</div>


