<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-producto-proveedor-heading" jhiTranslate="abastosApp.productoProveedor.home.createOrEditLabel">Create or edit a Producto Proveedor</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="abastosApp.producto.sku" for="field_nombre">SKU</label>
                    <input type="text" class="form-control" name="sku" id="field_sku"
                           formControlName="sku"/>
                    <div *ngIf="editForm.get('sku').invalid && (editForm.get('sku').dirty || editForm.get('sku').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sku').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sku').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 45 }">
                        This field cannot be longer than 45 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="abastosApp.producto.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           formControlName="nombre"/>
                    <div *ngIf="editForm.get('nombre').invalid && (editForm.get('nombre').dirty || editForm.get('nombre').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombre').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombre').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 256 }">
                        This field cannot be longer than 256 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="abastosApp.producto.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           formControlName="descripcion"/>
                    <div *ngIf="editForm.get('descripcion').invalid && (editForm.get('descripcion').dirty || editForm.get('descripcion').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descripcion').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descripcion').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 512 }">
                        This field cannot be longer than 512 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="abastosApp.producto.caracteristicas" for="field_caracteristicas">Caracteristicas</label>
                    <input type="text" class="form-control" name="caracteristicas" id="field_caracteristicas"
                           formControlName="caracteristicas"/>
                    <div *ngIf="editForm.get('caracteristicas').invalid && (editForm.get('caracteristicas').dirty || editForm.get('caracteristicas').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('caracteristicas').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('caracteristicas').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 512 }">
                        This field cannot be longer than 512 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="abastosApp.producto.precio" for="field_precio">Precio</label>
                    <input type="number" class="form-control" name="precio" id="field_precio"
                           formControlName="precio"/>
                    <div *ngIf="editForm.get('precio').invalid && (editForm.get('precio').dirty || editForm.get('precio').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('precio').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('precio')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="abastosApp.producto.tipoArticulo" for="field_tipoArticulo">Tipo Articulo</label>
                    <select class="form-control" id="field_tipoArticulo" name="tipoArticulo" formControlName="tipoArticuloId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tipoArticuloOption.id" *ngFor="let tipoArticuloOption of tipoarticulos; trackBy: trackTipoArticuloById">{{tipoArticuloOption.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="abastosApp.producto.estatus" for="field_estatus">Estatus</label>
                    <select class="form-control" id="field_estatus" name="estatus" formControlName="estatusId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="estatusOption.id" *ngFor="let estatusOption of estatuses; trackBy: trackEstatusById">{{estatusOption.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="abastosApp.producto.unidadMedida" for="field_unidadMedida">Unidad Medida</label>
                    <select class="form-control" id="field_unidadMedida" name="unidadMedida" formControlName="unidadMedidaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="unidadMedidaOption.id" *ngFor="let unidadMedidaOption of unidadmedidas; trackBy: trackUnidadMedidaById">{{unidadMedidaOption.nombre}}</option>
                    </select>
                </div>

                <div class="form-group" >
                    <label class="form-control-label" for="field_file">Imagen</label>
                    <div>
                        <img [src]="'data:' + editForm.get('fileContentType').value + ';base64,' + editForm.get('file').value"
                            style="max-height: 100px;" *ngIf="editForm.get('file').value" alt="adjunto image" />
                        <div *ngIf="editForm.get('file').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('fileContentType').value}},
                                {{byteSize(editForm.get('file').value)}}</span>
                            <button type="button" (click)="clearInputImage('file', 'fileContentType', 'fileImage')"
                                class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_file" (change)="setFileData($event, 'file', true)" accept="image/*"
                            jhiTranslate="entity.action.addimage" />
                    </div>
                    <input type="hidden" class="form-control" name="adjuntoId" id="field_adjuntoId" formControlName="adjuntoId" />
                    <input type="hidden" class="form-control" name="fileName" id="field_name" formControlName="fileName" />
                    <input type="hidden" class="form-control" name="file" id="field_file" formControlName="file" />
                    <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                        formControlName="fileContentType" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
