<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productoProveedor">
            <h2><span jhiTranslate="abastosApp.productoProveedor.detail.title">Producto</span> {{productoProveedor.producto?.sku}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>SKU</span></dt>
                <dd>
                    <span>{{productoProveedor.producto?.sku}}</span>
                </dd>
                <dt><span jhiTranslate="abastosApp.producto.nombre">Nombre</span></dt>
                <dd>
                    <span>{{productoProveedor.producto.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="abastosApp.producto.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{productoProveedor.producto.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="abastosApp.producto.caracteristicas">Caracteristicas</span></dt>
                <dd>
                    <span>{{productoProveedor.producto.caracteristicas}}</span>
                </dd>
                <dt><span jhiTranslate="abastosApp.producto.precio">Precio</span></dt>
                <dd>
                    <span>{{productoProveedor.precio}}</span>
                </dd>
                <dt><span jhiTranslate="abastosApp.producto.tipoArticulo">Tipo Articulo</span></dt>
                <dd>
                    <div *ngIf="productoProveedor.producto.tipoArticuloId">
                        <span>{{productoProveedor.producto.tipoArticulo.nombre}}</span>
                    </div>
                </dd>
                <dt><span jhiTranslate="abastosApp.producto.estatus">Estatus</span></dt>
                <dd>
                    <div *ngIf="productoProveedor.producto.estatusId">
                        <span>{{productoProveedor.producto.estatus.nombre}}</span>
                    </div>
                </dd>
                <dt><span jhiTranslate="abastosApp.producto.unidadMedida">Unidad Medida</span></dt>
                <dd>
                    <div *ngIf="productoProveedor.producto.unidadMedidaId">
                        <span>{{productoProveedor.producto.unidadMedida.nombre}}</span>
                    </div>
                </dd>
                <dt><span>Imagen</span></dt>
                <dd>
                    <div class="container-card" *ngIf="productoProveedor.producto.adjuntoId">
                        <img style="width: 55px;" src="{{env.getImagenIndividual}}{{productoProveedor.producto.adjuntoId}}" />
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/main/entities/producto-proveedor', productoProveedor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
