
<div style="padding:20px">

  <section class="estatus">
    <div class="number">Costo <strong>{{pedido.total | currency}}</strong></div>
    <div class="number">Fecha Solicitud <strong>{{pedido.fechaAlta}}</strong></div>
    <div class="number" *ngIf="pedido.fechaEntrega">Fecha Entrega <strong>{{pedido.fechaEntrega}}</strong></div>
    <div class="number">Estatus <strong>{{pedido.estatus.nombre}}</strong></div>
  </section>

  <section class="mapa">

    <div class="direccion" [ngStyle]="{'color' : genericService.getColorHex()}" *ngIf="tipoUsuario == 3">Proveedor</div>
    <div class="direct" *ngIf="tipoUsuario == 3">{{pedido.cliente.firstName}}
      {{pedido.cliente.lastName}}</div>

    <div class="direccion" [ngStyle]="{'color' : genericService.getColorHex()}" *ngIf="tipoUsuario == 2 || tipoUsuario == 3">Cliente</div>
    <div class="direct" *ngIf="tipoUsuario == 2 || tipoUsuario == 3">{{pedido.cliente.firstName}}
      {{pedido.cliente.lastName}}</div>

    <div class="direccion" [ngStyle]="{'color' : genericService.getColorHex()}" *ngIf="pedido.direccionContacto">Dirección de entrega</div>
    <div class="direct" *ngIf="pedido.direccionContacto">{{pedido.direccionContacto.direccion}}</div>
    <div id="map_canvas" class="mapita-google" (click)="verMapa()"></div>
  </section>

  <section class="botones" *ngIf="tipoUsuario == 1">
   <button class="boton-detalle" [ngStyle]="{'background-color' : genericService.getColorHex()}" (click)="verDetalle()">
     <i class="material-icons">date_range</i>Ver detalle
    </button>
    <button class="boton-recibo" [ngStyle]="{'background-color' : genericService.getColorHex()}" (click)="verRecibo()">
      <i class="material-icons">date_range</i>Ver recibo
    </button>
    <button class="boton-problemas" style="font-size: 10px;" [ngStyle]="{'background-color' : genericService.getColorHex()}" (click)="problemasPedido()">
      <i class="material-icons">date_range</i>Problemas con pedido
    </button>
  </section>

  <section class="botones" *ngIf="tipoUsuario == 2" style="    margin-top: 84%;">
    <button class="boton-terminar" [ngStyle]="{'background-color' : genericService.getColorHex()}" (click)="verProductos()">
     <i class="material-icons">date_range</i>Ver productos
    </button>
    <button class="boton-chat" [ngStyle]="{'background-color' : genericService.getColorHex()}" (click)="verChat()">
     
      <i class="material-icons">date_range</i>Chat
    </button>
    <button class="boton-recibo" [ngStyle]="{'background-color' : genericService.getColorHex()}" (click)="enviarPedido()"
      style="font-size: 11px;">
      <i class="material-icons">date_range</i>Enviar a transportista
    </button>
    <button class="boton-problemas2" style="font-size: 10px;" [ngStyle]="{'background-color' : genericService.getColorHex()}"
      (click)="problemasPedido()">
      <i class="material-icons">date_range</i>Problemas con pedido
    </button>
  </section>

  <section class="botones" *ngIf="tipoUsuario == 3" style="    margin-top: 84%;">
    <button class="boton-terminar" [ngStyle]="{'background-color' : genericService.getColorHex()}" (click)="verProductos()">
     <i class="material-icons">date_range</i>Ver productos
    </button>
    <button class="boton-chat" [ngStyle]="{'background-color' : genericService.getColorHex()}" (click)="verChat()">
     
      <i class="material-icons">date_range</i>Chat
    </button>
    <button class="boton-problemas2" [ngStyle]="{'background-color' : genericService.getColorHex()}" (click)="presentActionSheet()">
      <i class="material-icons">date_range</i>Terminar pedido
    </button>
    <button class="boton-problemas2" style="font-size: 10px;" [ngStyle]="{'background-color' : genericService.getColorHex()}" (click)="problemasPedido()">
      <i class="material-icons">date_range</i>Problemas con pedido
    </button>
  </section>
</div>