<div class="contenedor-login">
  <div class="panel animated zoomInLeft">
    <div class="login">
      <img src="../../../assets/imgs/market.png" alt="" class="logo">

      <form [formGroup]="formGroup" (ngSubmit)="login()">

        <div class="input-container">
          <input type="text" placeholder="usuario" formControlName="user" required>
        </div>
        <app-control-messages [control]="formGroup.controls.user"></app-control-messages>

        <div class="input-container">
          <input type="password" placeholder="contraseña" formControlName="password" required>
        </div>
        <app-control-messages [control]="formGroup.controls.password"></app-control-messages>

        <div class="button-container">
          <button type="submit">Login</button>
        </div>
      </form>

      <!-- <div class="option-register">
        <div class="text-register">
          ¿No estás registrado? <strong>Regístrate</strong>
        </div>
      </div> -->

    </div>
  </div>
</div>
<div class="contenedor-login ">
  <div class="panel animated zoomInLeft">
    <div class="login">
      <img src="../../../assets/imgs/market.png" alt="" class="logo">

      <form [formGroup]="formGroup" (ngSubmit)="login()">

        <div class="input-container">
          <input type="text" placeholder="usuario" formControlName="user" required>
        </div>
        <app-control-messages [control]="formGroup.controls.user"></app-control-messages>

        <div class="input-container">
          <input type="password" placeholder="contraseña" formControlName="password" required>
        </div>
        <app-control-messages [control]="formGroup.controls.password"></app-control-messages>

        <div class="button-container">
          <button type="submit">Login</button>
        </div>
      </form>

      <!-- <div class="option-register">
        <div class="text-register">
          ¿No estás registrado? <strong>Regístrate</strong>
        </div>
      </div> -->

    </div>
  </div>
</div>
<div class="contenedor-login ">
  <div class="panel animated zoomInLeft">
    <div class="login">
      <img src="../../../assets/imgs/market.png" alt="" class="logo">

      <form [formGroup]="formGroup" (ngSubmit)="login()">

        <div class="input-container">
          <input type="text" placeholder="usuario" formControlName="user" required>
        </div>
        <app-control-messages [control]="formGroup.controls.user"></app-control-messages>

        <div class="input-container">
          <input type="password" placeholder="contraseña" formControlName="password" required>
        </div>
        <app-control-messages [control]="formGroup.controls.password"></app-control-messages>

        <div class="button-container">
          <button type="submit">Login</button>
        </div>
      </form>

      <!-- <div class="option-register">
        <div class="text-register">
          ¿No estás registrado? <strong>Regístrate</strong>
        </div>
      </div> -->

    </div>
  </div>
</div>
<div class="contenedor-login ">
  <div class="panel animated zoomInLeft">
    <div class="login">
      <img src="../../../assets/imgs/market.png" alt="" class="logo">

      <form [formGroup]="formGroup" (ngSubmit)="login()">

        <div class="input-container">
          <input type="text" placeholder="usuario" formControlName="user" required>
        </div>
        <app-control-messages [control]="formGroup.controls.user"></app-control-messages>

        <div class="input-container">
          <input type="password" placeholder="contraseña" formControlName="password" required>
        </div>
        <app-control-messages [control]="formGroup.controls.password"></app-control-messages>

        <div class="button-container">
          <button type="submit">Login</button>
        </div>
      </form>

      <!-- <div class="option-register">
        <div class="text-register">
          ¿No estás registrado? <strong>Regístrate</strong>
        </div>
      </div> -->

    </div>
  </div>
</div>