<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recolector">
            <h2><span jhiTranslate="abastosApp.recolector.detail.title">Recolector</span> {{recolector.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="abastosApp.recolector.nombre">Nombre</span></dt>
                <dd>
                    <span>{{recolector.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="abastosApp.recolector.fechaAlta">Fecha Alta</span></dt>
                <dd>
                    <span>{{recolector.fechaAlta}}</span>
                </dd>
                <dt><span jhiTranslate="abastosApp.recolector.fechaModificacion">Fecha Modificacion</span></dt>
                <dd>
                    <span>{{recolector.fechaModificacion}}</span>
                </dd>
                <dt><span jhiTranslate="abastosApp.recolector.usuarioAlta">Usuario Alta</span></dt>
                <dd>
                    {{recolector.usuarioAltaId}}
                </dd>
                <dt><span jhiTranslate="abastosApp.recolector.usuarioModificacion">Usuario Modificacion</span></dt>
                <dd>
                    {{recolector.usuarioModificacionId}}
                </dd>
                <dt><span jhiTranslate="abastosApp.recolector.empresa">Empresa</span></dt>
                <dd>
                    <div *ngIf="recolector.empresaId">
                        <a [routerLink]="['/empresa', recolector.empresaId, 'view']">{{recolector.empresaId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recolector', recolector.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
