<div>
    <h2 id="page-heading">
        <span jhiTranslate="abastosApp.recolector.home.title">Recolectors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-recolector" [routerLink]="['/recolector/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="abastosApp.recolector.home.createLabel">
            Create a new Recolector
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="recolectors?.length === 0">
        <span jhiTranslate="abastosApp.recolector.home.notFound">No recolectors found</span>
    </div>
    <div class="table-responsive" *ngIf="recolectors?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="abastosApp.recolector.nombre">Nombre</span></th>
            <th><span jhiTranslate="abastosApp.recolector.fechaAlta">Fecha Alta</span></th>
            <th><span jhiTranslate="abastosApp.recolector.fechaModificacion">Fecha Modificacion</span></th>
            <th><span jhiTranslate="abastosApp.recolector.usuarioAlta">Usuario Alta</span></th>
            <th><span jhiTranslate="abastosApp.recolector.usuarioModificacion">Usuario Modificacion</span></th>
            <th><span jhiTranslate="abastosApp.recolector.empresa">Empresa</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let recolector of recolectors ;trackBy: trackId">
                <td><a [routerLink]="['/recolector', recolector.id, 'view' ]">{{recolector.id}}</a></td>
                <td>{{recolector.nombre}}</td>
                <td>{{recolector.fechaAlta | date:'medium'}}</td>
                <td>{{recolector.fechaModificacion | date:'medium'}}</td>
                <td>
                    {{recolector.usuarioAltaId}}
                </td>
                <td>
                    {{recolector.usuarioModificacionId}}
                </td>
                <td>
                    <div *ngIf="recolector.empresaId">
                        <a [routerLink]="['/empresa', recolector.empresaId , 'view' ]" >{{recolector.empresaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/main/entities/recolector', recolector.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/main/entities/recolector', recolector.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/main/entities/recolector', recolector.id, 'delete']"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
