<div>
    <div class="spinner-carrito" *ngIf="proveedores && proveedores.length <= 0">
        <app-spinner></app-spinner>
    </div>

    <div id="card-{{i}}" class="card animated lightSpeedIn" *ngFor="let p of proveedores; let i = index">
       
        <div class="container-card" (click)="viewDetailAll(p)">

            <img src="{{env.getImagenIndividual}}{{p.adjuntoId}}" *ngIf="p.adjuntoId" />
            <img src="../../../content/imgs/menu/arrows.png" *ngIf="!p.adjuntoId" />
        </div>
        <div class="container-text" (click)="viewDetailAll(p)">{{p.nombre}}</div>
        <div class="description" (click)="viewDetailAll(p)"><strong>Empresa</strong></div>
        <div class="precio" (click)="viewDetailAll(p)" *ngIf="p.empresa">{{p.empresa.nombre}}</div>
        <div class="precio" (click)="viewDetailAll(p)" *ngIf="!p.empresa">-</div>
    </div>
</div>