.contenedori {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  padding: 9px;
  .formulario {
    width: 88%;
    form {
      .contenedor-input {
        margin-bottom: 10px;

        ion-col {
          display: inline-block;
          width: 55%;
          ion-checkbox {
            vertical-align: top;
            height: 1px;
          }
        }

        ion-select {
          max-width: 100%;
          display: inline-block;
          width: 55%;
          border: 1px solid #c3bdbd !important;
          padding: 8px !important;
          border-radius: 4px !important;
          width: 55%;
          display: inline-block;
          position: relative;

          .select-text {
            color: #716b6b;
          }
          .select-icon {
            position: relative;
            width: 100%;
            height: 0px;
            .select-icon-inner {
              right: 5px;
              top: -8px;
              left: auto;
              margin-top: -2px;
              position: absolute;
              width: 0;
              height: 0;
              border-top: 5px solid;
              border-right: 5px solid transparent;
              border-left: 5px solid transparent;
              color: #999;
              pointer-events: none;
            }
          }
          button {
            position: absolute;
          }
        }

        span {
          color: #656565;
          font-size: 15px;
          display: inline-block;
          width: 42%;
        }
        .inp {
          border: 1px solid #c3bdbd !important;
          padding: 8px !important;
          border-radius: 4px !important;
          width: 100%;
          display: inline-block;
          color: #716b6b;
        }
        .dt {
          border: 1px solid #c3bdbd;
          padding: 8px;
          border-radius: 4px;
          display: inline-block;
          width: 100%;
          display: inline-block;
          color: #716b6b;
          position: relative;
          div {
            width: 100%;
            min-height: 1px;
          }
          button {
            position: absolute;
          }
        }
      }

      .contenedor-input:nth-child(1) {
        margin-top: 30px;
      }

      .contenedor-boton {
        margin: auto;
        text-align: center;
        button {
          width: 100%;
          padding: 10px;
          margin-top: 10px;
          background-color: #3b64bf;
          color: #ffffff;
          font-size: 16px;
          border-radius: 4px;
        }
      }
    }
  }
}
