.item {
  border-bottom: 1px solid #ddd;
}
ion-avatar {
  vertical-align: super;
}

.filtros {
  padding: 10px;
  width: 100%;
  background-color: #be3b3b;
  button {
    display: inline-block;
    width: 32%;
    padding: 7px;
    font-size: 21px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.27);
    border-radius: 4px;
  }

  .boton {
    display: inline-block;
    width: 100%;
    padding: 7px;
    font-size: 21px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.27);
    border-radius: 4px;
    border: 1px solid #a04901;
  }
}

.input-filtro {
  width: 100%;
  padding: 6px;
  border-radius: 3px;
  border: 1px solid #c1c5ca;
  margin-bottom: 10px;
}
