<div>
  <div class="spinner-carrito" *ngIf="pedidos && pedidos.length <= 0">
    <app-spinner></app-spinner>
  </div>

  <div class="filtros" [ngStyle]="{'background-color' : genericService.getColorHex()}" *ngIf="pedidos && pedidos?.length > 0">
    <button (click)="ordenPor(1)" *ngIf="!botones.boton1">
      <div style="font-size: 9px;">Fecha solicitud</div>
      <i class="material-icons">more_vert</i>
    </button>
    <button (click)="ordenPor(4)" *ngIf="botones.boton1">
      <div style="font-size: 9px;">Fecha solicitud</div>
      <i class="material-icons">more_vert</i>
    </button>
    <button (click)="ordenPor(2)" *ngIf="!botones.boton2">
      <div style="font-size: 9px;">Fecha entrega</div>
      <i class="material-icons">more_vert</i>
    </button>
    <button (click)="ordenPor(5)" *ngIf="botones.boton2">
      <div style="font-size: 9px;">Fecha entrega</div>
      <i class="material-icons">date_range</i>
    </button>
    <button (click)="ordenPor(3)" *ngIf="!botones.boton3">
      <div style="font-size: 9px;">Estatus</div>
      <i class="material-icons">date_range</i>
    </button>
    <button (click)="ordenPor(6)" *ngIf="botones.boton3">
      <div style="font-size: 9px;">Estatus</div>
      <i class="material-icons">date_range</i>
    </button>
  </div>

  <div *ngIf="pedidos && pedidos?.length > 0">
    <div class="item-list-card" *ngFor="let p of pedidos" (click)="viewDetail(p)" style="    vertical-align: baseline;
        border-bottom: 1px solid #cacaca;">
      <div style="    width: 10%;
          display: inline-block;
          vertical-align: bottom;">
        <img style="    width: 63px;
            display: inline-block;" src="../../../content/imgs/pedidos/entrega.png"
          alt="">
      </div>
      <div class="datos-tarjetas" style="    width: 89%;
          display: inline-block;
          vertical-align: text-top;">
        <div class="name">Pedido Num. <strong>{{p.folio}}</strong></div>
        <div class="number">Costo <strong>{{p.total | currency}}</strong></div>
        <div class="number">Fecha Solicitud <strong>{{p.fechaAlta}}</strong></div>
        <div class="number" *ngIf="p.fechaEntrega">Fecha Entrega <strong>{{p.fechaEntrega}}</strong></div>
        <div class="number">Estatus <strong>{{p.estatus.nombre}}</strong></div>
      </div>

    </div>
  </div>
</div>