<div>
    <h2 id="page-heading">
        <span jhiTranslate="abastosApp.carritoCompra.home.title">Carrito Compras</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-carrito-compra" [routerLink]="['/carrito-compra/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="abastosApp.carritoCompra.home.createLabel">
            Create a new Carrito Compra
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="carritoCompras?.length === 0">
        <span jhiTranslate="abastosApp.carritoCompra.home.notFound">No carritoCompras found</span>
    </div>
    <div class="table-responsive" *ngIf="carritoCompras?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="abastosApp.carritoCompra.cantidad">Cantidad</span></th>
            <th><span jhiTranslate="abastosApp.carritoCompra.precio">Precio</span></th>
            <th><span jhiTranslate="abastosApp.carritoCompra.cliente">Cliente</span></th>
            <th><span jhiTranslate="abastosApp.carritoCompra.producto">Producto</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let carritoCompra of carritoCompras ;trackBy: trackId">
                <td><a [routerLink]="['/carrito-compra', carritoCompra.id, 'view' ]">{{carritoCompra.id}}</a></td>
                <td>{{carritoCompra.cantidad}}</td>
                <td>{{carritoCompra.precio}}</td>
                <td>
                    <div *ngIf="carritoCompra.clienteId">
                        <a [routerLink]="['/cliente', carritoCompra.clienteId , 'view' ]" >{{carritoCompra.clienteId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="carritoCompra.productoId">
                        <a [routerLink]="['/producto', carritoCompra.productoId , 'view' ]" >{{carritoCompra.productoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/carrito-compra', carritoCompra.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/carrito-compra', carritoCompra.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/carrito-compra', { outlets: { popup: carritoCompra.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
