<div style="padding:20px">
  <div class="spinner-carrito" *ngIf="!cards">
    <app-spinner></app-spinner>
  </div>

  <mat-list *ngIf="!fromPop">
    <mat-list-item *ngFor="let card of cards" style="    padding-bottom: 60px;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 15px;" >
      <div (click)="addCard(card)">
        <img style="width: 40px;
        margin-right: 25px;" src="../../../content/imgs/tarjetas/bank.png" alt="">
      </div>
      <div class="datos-tarjetas" (click)="addCard(card)">
        <div class="name">{{card.alias}}</div>
        <div class="number">{{card.numeroTarjeta}}</div>
      </div>
      <div style="width:59%;display:inline-block;text-align: -webkit-right;">


        <button class="botoni" (click)="borrar(card)" color="danger" style="background-color: #FF5722;
        border: 1px solid #9c2906;">
          <i class="material-icons" style="vertical-align: bottom;">close</i>
          Borrar
        </button>
      </div>
    </mat-list-item>
  </mat-list>

</div>
<fabi-button bottom right (click)="addCard()" class="animated swing"></fabi-button>