.titlee {
  padding: 0px 0px 5px 0px;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid #f07c1c;
  margin-bottom: 10px;
}

.miqr {
  text-align: center;
  text-align: -webkit-center;
  img {
    width: 150px;
    margin: auto;
  }
}
