<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="seccion">
            <h2><span jhiTranslate="abastosApp.seccion.detail.title">Seccion</span> {{seccion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="abastosApp.seccion.nombre">Nombre</span></dt>
                <dd>
                    <span>{{seccion.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="abastosApp.seccion.empresa">Empresa</span></dt>
                <dd>
                    <div *ngIf="seccion.empresaId">
                        <a [routerLink]="['/empresa', seccion.empresaId, 'view']">{{seccion.empresaId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/seccion', seccion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
