<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="seccion">
            <h2><span jhiTranslate="abastosApp.seccion.detail.title">Seccion</span> {{seccion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span >Nombre</span></dt>
                <dd>
                    <span>{{seccion.nombre}}</span>
                </dd>
                <dt><span >Descripción</span></dt>
                <dd>
                    <span>{{seccion.descripcion}}</span>
                </dd>
                <dt><span>Empresa</span></dt>
                <dd>
                    <span>{{seccion.empresa.nombre}}</span>
                </dd>
                <dt><span>Imagen</span></dt>
                <dd>
                    <div class="container-card" *ngIf="seccion.adjuntoId">
                        <img style="width: 55px;" src="{{env.getImagenIndividual}}{{seccion.adjuntoId}}" />
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/seccion', seccion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
