<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoArticulo">
            <h2><span jhiTranslate="abastosApp.tipoArticulo.detail.title">Tipo Articulo</span> {{tipoArticulo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span >Nombre</span></dt>
                <dd>
                    <span>{{tipoArticulo.nombre}}</span>
                </dd>
                <dt><span >Descripción</span></dt>
                <dd>
                    <span>{{tipoArticulo.descripcion}}</span>
                </dd>
                <dt><span >Categoria</span></dt>
                <dd>
                    <span>{{tipoArticulo.categoria.nombre}}</span>
                </dd>
                <dt><span>Imagen</span></dt>
                <dd>
                    <div class="container-card" *ngIf="tipoArticulo.adjuntoId">
                        <img style="width: 55px;" src="{{env.getImagenIndividual}}{{tipoArticulo.adjuntoId}}" />
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/main/entities/tipo-articulo', tipoArticulo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
