<div>
    <h2 id="page-heading">
        <span jhiTranslate="abastosApp.tipoArticulo.home.title">Tipo Articulos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tipo-articulo" [routerLink]="['/tipo-articulo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="abastosApp.tipoArticulo.home.createLabel">
            Create a new Tipo Articulo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tipoArticulos?.length === 0">
        <span jhiTranslate="abastosApp.tipoArticulo.home.notFound">No tipoArticulos found</span>
    </div>
    <div class="table-responsive" *ngIf="tipoArticulos?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span >Nombre</span></th>
            <th><span >Descripción</span></th>
            <th><span >Categoría</span></th>
            <th><span >Imagen</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tipoArticulo of tipoArticulos ;trackBy: trackId">
                <td><a [routerLink]="['/tipo-articulo', tipoArticulo.id, 'view' ]">{{tipoArticulo.id}}</a></td>
                <td>{{tipoArticulo.nombre}}</td>
                <td>{{tipoArticulo.descripcion}}</td>
                <td>{{tipoArticulo.categoria?.nombre}}</td>
                <td>
                    <div class="container-card" *ngIf="tipoArticulo.adjuntoId">
                        <img style="width: 33px;" src="{{env.getImagenIndividual}}{{tipoArticulo.adjuntoId}}" />
                    </div>
                </td>

                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/main/entities/tipo-articulo', tipoArticulo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/main/entities/tipo-articulo', tipoArticulo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/main/entities/tipo-articulo', tipoArticulo.id, 'delete']"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
