.acerca {
  text-align: center;
  div {
    font-size: larger;
    font-family: sans-serif;
    img {
      width: 40px;
    }
    margin-top: 20px;
    margin-bottom: 20px;
  }
  strong {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    font-family: sans-serif;
  }
}
