@import './custom-theme.scss';
@import './assets/scss/material-dashboard';
@import './assets/css/demo';
@import './custom-theme';
@import './app/animations';
// Import PrimeNG source files
@import '~primeng/resources/primeng.min.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeicons/primeicons.css';
@import './variables';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css';

.clases {
  width: 100% !important;
  background-color: red;
}
.gmnoprint {
  top: 42px;
}
