<div class="slider-io animated bounceInLeft" >
  <!-- <ion-slides autoplay="5000" zoom="true" loop="true" #slides2 loop="false">
    <ion-slide *ngFor="let photo of producto.photos; let i=index" (click)="imagesLoaded(i)">
      <div>
        <img src="{{photo.img}}" alt="">
        <div class="div-foto">
          <ion-icon ios="ios-images-outline" md="ios-images-outline"></ion-icon>
          <p>{{i+1}}/{{producto.photos.length}}</p>
        </div>
      </div>
    </ion-slide>
  </ion-slides> -->

  <div class="w3-content w3-display-container dividor">
      <img class="mySlides" id="id-{{i}}" src="{{photo.img}}" (click)="imagesLoaded(i)" [ngStyle]="{'display': photo.view ? 'block' : 'none'}" style="width:100%" *ngFor="let photo of producto.photos; let i=index">
      
      <button class="w3-button w3-black w3-display-left" (click)="plusDivs(slideIndex,'left')">&#10094;</button>
      <button class="w3-button w3-black w3-display-right" (click)="plusDivs(slideIndex,'right')">&#10095;</button>
    </div>
</div>
</div>

<div class="descripcion" [ngStyle]="{'color': color}" style="margin-top: 20px;">
  {{producto.precio | currency}} MXN
</div>

<div class="space-desc">
  <i class="material-icons" *ngIf="verDescripcion" (click)="verDes()">arrow-upward</i>
  <i class="material-icons" *ngIf="!verDescripcion" (click)="verDes()">arrow_downward</i>
  <h4>Descripción</h4>
  <div class="descripcion-gral" *ngIf="verDescripcion">{{producto.producto.descripcion}}</div>
</div>



<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 2;">

    <!-- Background of PhotoSwipe. 
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

      <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
      <!-- don't modify these 3 pswp__item elements, data is added later on. -->
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
      <div class="pswp__ui pswp__ui--hidden">

        <div class="pswp__top-bar" style="opacity: 1;z-index: 99999999;" [ngStyle]="{'top': fixedContentTop == '56' ? '56px' : '44px'}">

          <!--  Controls are self-explanatory. Order can be changed. -->

          <div class="pswp__counter"></div>

          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

          <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
          <!-- element will get class pswp__preloader--active when preloader is running -->
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>

        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
        </button>

        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
        </button>

        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>

      </div>

    </div>

  </div>
<div class="footer-detalle">
  <div class="cont-e">
    <div class="suma">
      <div class="menos" (click)="decrementar(producto)">
        <div style="color: #f07c1c;
        border-color: #f07c1c;">-</div>
      </div>
      <div class="cantidad">
        <div style="color: #f07c1c;">{{producto.cantidad}} {{producto.cantidad == 1 ? 'pza' : 'pzas'}}</div>
      </div>
      <div class="mas" (click)="incrementa(producto)">
        <div style="color: #f07c1c;
        border-color: #f07c1c;">+</div>
      </div>
    </div>
    <button (click)="agregarCarrito(producto)" style="background-color: #f07c1c;">
      Agregar a carrito
    </button>
  </div>
</div>
<!-- Root element of PhotoSwipe. Must have class pswp. -->